.o_status {
    @extend .rounded-circle;
    background-color: gray('200');
    height: 12px;
    width: 12px;
    box-shadow: inset 0 0 0 1px rgba($black, .2);

    &.o_status_green {
        @extend .bg-success;
    }

    &.o_status_red {
        @extend .bg-danger;
    }
     &.o_status_yellow {
        @extend .bg-warning;
    }
     &.o_status_blue {
        @extend .bg-primary;
    }


    .dropdown-item > & {
        margin-bottom: .2em;
        transform: translateX(-50%);
    }
}
